body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u686 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  position:absolute;
  left:0px;
  top:586px;
  width:360px;
  height:54px;
}
#u689 {
  position:absolute;
  left:2px;
  top:19px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u691 {
  position:absolute;
  left:237px;
  top:589px;
  width:37px;
  height:37px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u693 {
  position:absolute;
  left:241px;
  top:622px;
  width:29px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u696 {
  position:absolute;
  left:165px;
  top:589px;
  width:40px;
  height:37px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u698 {
  position:absolute;
  left:171px;
  top:622px;
  width:29px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u701 {
  position:absolute;
  left:95px;
  top:590px;
  width:37px;
  height:37px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u703 {
  position:absolute;
  left:99px;
  top:623px;
  width:29px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u706 {
  position:absolute;
  left:306px;
  top:590px;
  width:29px;
  height:37px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u708 {
  position:absolute;
  left:306px;
  top:622px;
  width:29px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u711 {
  position:absolute;
  left:26px;
  top:590px;
  width:37px;
  height:37px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u713 {
  position:absolute;
  left:34px;
  top:623px;
  width:21px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u715 {
  position:absolute;
  left:85px;
  top:586px;
  width:55px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u716 {
  position:absolute;
  left:16px;
  top:587px;
  width:55px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u717 {
  position:absolute;
  left:156px;
  top:586px;
  width:55px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u718 {
  position:absolute;
  left:227px;
  top:586px;
  width:55px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u719 {
  position:absolute;
  left:293px;
  top:586px;
  width:55px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
